.botonMesera {
	width: 170px;
	margin: 15px 15px 15px 15px;
}

.botonAdmin {
	width: 220px;
	margin: 15px 15px 15px 15px;
}

.botonGenerico {
	margin: 15px 15px 15px 15px;
}

.bodyPantalla {
	background-color: black;
	overflow:hidden;
	border: 0px;
}

.pantallaTexto {
	font-size:30px;
	font-family: led board reversed;
	background-color: black;
	color: white;
	border: 0px;
}

.pantallaNumeroEstadoSUBE {
	font-size:30px;
	text-align: right;
	font-family: led board reversed;
	color: red;
	background-color: black;
}

.pantallaNumeroEstadoIGUAL {
	font-size:30px;
	text-align: right;
	font-family: led board reversed;
	color: yellow;
	background-color: black;
	border: 0px;
}

.pantallaNumeroEstadoBAJA {
	font-size:30px;
	text-align: right;
	font-family: led board reversed;
	color: green;
	background-color: black;
	border: 0px;
}

.pantallaNumeroEstadoMINIMO {
	font-size:30px;
	text-align: right;
	font-family: led board reversed;
	color: yellow;
	background-color: black;
	border: 0px;
}

.pantallaNumeroEstadoMAXIMO {
	font-size:30px;
	text-align: right;
	border: 0px;
	font-family: led board reversed;
	color: yellow;
	background-color: black;
}

.ui-widget-content {
	border: 0px;
	background: #ffffff;
	color: rgb(0, 0, 0);
	overflow:hidden;
}

.ui-dt-c {
	border: 0px;
	background-color: black;
	border-color: black;
	overflow:hidden;
}

.ui-table {
	border: 0px;
	border-color: black;
	overflow: hidden;
}
.pantallaFlecha{
	border: 0px;
	border-color: black;
}

.iu-loyout-west{
	overflow:hidden;
	margin: 0 0 0;
	padding: 0 0 0 0;
	border:0px;
}
	
.ui-widget-content{
	overflow:hidden !important;
	background-color: black;
	border: 0px;
}
.ui-widget-header{
	border:0px;
}
.ui-state-default{
	border:0px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border:0px;
}